<%= video_tag('women.mp4', autoplay: true, loop: true) %>
<div class="container top_container">
  <div class="container valign-wrapper top_page_container">
    <div class=" row valign-wrappe top_page_body">
      <div class="col s12 valign">
        <h1 id="brand">Banzai<br> Roulette</h1>
        <p id="brand_msg">the public forfeit for any game</p>
        <a href="/auth/facebook?game_id=<%= params[:game_id] %>" id="login" class=""><i class="fa fa-facebook-square fa-2x img_login"></i>
          Sign in with Facebook</a>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    setTimeout(function () {
      $('.top_container').addClass('active');
    }, 2000);
    setTimeout(function () {
      console.log("logged");
      $('#brand').addClass('active');
      $('#login').addClass('active');
    }, 5000);
  });

</script>