<div class="container valign-wrapper top_page">
  <div class=" row valign-wrappe top_page_body">
    <div class="col s12 valign">
      <h1>Banzai Roulette</h1>
      <p>the public forfeit for any game</p>
      <a href="/auth/facebook?game_id=<%= params[:game_id] %>" class="waves-effect waves-light btn-large"><i class="fa fa-facebook-square fa-5x img_login"></i>
        Sign in with Facebook</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function () {
      $('a').addClass('active');
    }, 2000);

    setTimeout(function () {
      $('.background_image_container').toggleClass('background_image_container_active');
    }, 2000)
  });

</script>