<div class="jumbotron text-center">
  <h1>Banzai Roulette</h1>
    <p>this app will destroy your facbook feed</p>
  <a href="/auth/facebook" class="btn btn-primary">Sign in with Facebook</a>
  <a href="#" class="btn btn-success">Get a tour</a>

</div>