<div class="container mainbody">

  <p>This app will ruin your Facebook wall!</p>

</div>

<%= user_signed_in? %>
<p><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></p>
<% end %>