<div class="container mainbody">
  <p>This app will ruin your Facebook wall!</p>
  <%= render(:partial => 'partials/score_board') %>
  <%= render(:partial => 'partials/player_circle') %>
  <%= render(:partial => 'partials/game_controls') %>

</div>


