<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to Banzai Roulette</h1>
<p>
  You are invited to Banzai Roulette.<br>
</p>
<p>
  To login to the site, just follow this link: http://banzairoulette.ngrok.io?invite=true;game_id=<%= @game_id %>
</p>
<p>Thanks for joining and enjoy Banzai Roulette!</p>
</body>
</html>