<div class="row">
  <div class="col-md-2">
    <h2><%= @user.name %> </h2>
  </div> 
  <div class="col-md-5">
    <h2>Active games</h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
          <th>Id</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>a</td>
            <td><a href="#" class="btn btn-success">Enter Game</a></td>
          </tr>
        </tbody>
    </table>
  </div>
  </div> 
  <div class="col-md-5">
    <h2>Game invitations</h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
          <th>Id</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>a</td>
            <td><a href="#" class="btn btn-success">Join Game</a></td>
          </tr>
        </tbody>
    </table>
  </div>
  </div> 
</div>
<div class="row">
  <div class="col-md-12">
  <div class="text-center">
    <%= render 'form' %>
  </div>
</div>
</div>