<div id="player_circle">
  <p class="center_marker">center</p>
  <script type="text/javascript">
    var number_players = <%= @game.players %>
    create_player_circle(number_players)
  </script>    
</div>




