<div id="player_circle">
  <p class="center_marker">center</p>
  <script type="text/javascript">

    var number_players = <%= @game.players %>
    create_player_circle(number_players)
  

    var number_players =
    <%= @game.players %>
    var users = <%= raw @game.get_users.to_json %>
        player_circle(number_players, users)
    function player_circle(no_players, users) {
      var x_center = $(".center_marker").position().left;
      var y_center = $(".center_marker").position().top;
      var items = no_players;
      var r = x_center / 2
      for (var i = 0; i < items; i++) {
        if (users.length >= i + 1) {
          var user = users[i]
        }
        var x = x_center + r * Math.cos(2 * Math.PI * i / items);
        var y = y_center + r * Math.sin(2 * Math.PI * i / items);
        var player_outer_wrapper = $("<div/>", {"class": "player_outer_wrapper"});
        if (user) {
          player_outer_wrapper.text(user.first_name)
        }
        $(player_outer_wrapper).css("top", y + "px").css("left", x + "px");
        ;
        var player_wrapper = $("<div/>", {"class": "player_wrapper"});
        var player_caption = $("<p/>", {"text": 'Join', "class": "player_caption"});
        $(player_outer_wrapper).append(player_wrapper).append(player_caption);
        $("#player_circle").append(player_outer_wrapper);
        user = undefined
      }
      ;
    }
    ;

    $(document).ready(function () {

    });

  </script>


</div>




