<div class="container mainbody">
  <p>This app will ruin your Facebook wall!</p>
  <div class="playing-cricle">
    <%= render 'player_circle' %>
  </div>
  <div>
    <%= link_to 'Back to your profile', current_user%>
   
    <%= link_to 'test', Gamesession.create({ :game_id => @game.id, :user_id => current_user.id }) %>
  
  </div>
</div>
