<div class="container mainbody">
  <p>This app will ruin your Facebook wall!</p>
  <div class="playing-cricle">
    <%= render(:partial => 'games/player_circle') %>
  </div>
  <div>
   <%= link_to 'Back to your profile', current_user%>
  </div>
</div>