$font-weight: 300;

#center_word {
  margin: 0px;
  height: 0px;
}

#word {
  font-size: 30px;
}

.form_container {
  margin-top: 30px;
}

.invite_field {
  margin-top: 30px;
}

#center_word {
  //margin-bottom: 0px;
  font-size: 6em;
  text-align: center;
  //transform: translate(42%, -50%);
}