  //
  //width: 0px;
  //height: 0px;
  //



#word {
  font-size: 30px;
}

.game_container {
  margin-top: 30px;
}

.invite_field {
  margin-top: 30px;
}

#center_word {

  font-size: 4em;
  text-align: center;
  position: relative;
  transform: translate(-50%, -120%);
  font-weight:bold;

}