$font-weight: 300;

.form_container {
  margin-top: 5%;

  .form_body {
    text-align: center;
  }

  #giphy_submit_button {
    border-radius: 5px;
    text-align: center;
    text-transform: none;
    &:hover {
      background: #0099F7; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #0099F7, #F11712); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #0099F7, #F11712); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #giphy_word_field {
      font-weight: $font-weight;
    }

    a {
      color: rgba(0,0,0,0);
    }

  }
}

