// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-color: #127FBF;


video {
  position: fixed;
  top: -200px;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  opacity: 0.7;
}

.top_container {
  margin-left: 0;
  padding-top: 20px;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: visibility 0s, opacity 3s linear;
}

.top_container.active {
  opacity: 1;
}

.top_page_container {
  margin-top: 3%;

  .top_page_body {
  }
  #login {
    color: white;
    //text-shadow: 1px 1px 0px #fff;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 5s, text-shadow 0.3s, color 0.3s linear;
    &:hover {
      color: #1178b4;
      text-shadow: 1px 1px 3px #fff;
    }
  }
  #login.active {
    opacity: 1;
  }
  #brand {
    text-align: left;
    font-size: 128px;
    text-shadow: 1px 1px 10px transparent;
    transition: text-shadow 5s;
    color: transparent;
  }
  #brand.active {
    text-shadow: 1px 1px 0px $font-color;
  }
  #brand_msg {
    padding-left: 10px;
    font-size: 28px;
    font-weight: 100;
    color: $font-color;
  }

  img {
    opacity: 0;
    transition: visibility 0s, opacity 5s linear;
  }
  .img_active {
    opacity: 1;
  }
}

.header {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);

  .navbar-wrapper {
    .brand-logo {
      color: $font-color;
      font-size: 3em;
      font-weight: 200;
    }
    a {
      color: $font-color;
      font-weight: 300;
    }
  }
  .profile {
    li {
      text-align: center;
    }
    img {
      width: 60%;
      border-radius: 50%;
      vertical-align: middle;
    }
    p {
      margin: 0 auto;
    }
  }
}

#page-footer {
  padding: 1% 0 1% 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  #giphy-banner {
    height: 40px;
    vertical-align: middle;
  }
}

