// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-color: #2c3e50;

main {

}

.top_container {
  margin-left: 0;
  padding-top: 20px;
}
.header {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.19999999999999996);

  .navbar-wrapper {
    .brand-logo {
      color: $font-color;
      font-size: 3em;
      font-weight: 200;
    }
    a {
      color: $font-color;
      font-weight: 300;
    }
  }
}

.top_page {
  margin-top: 15%;

  .top_page_body {
    margin: 0 auto;
    padding-right: 400px;
  }
  h1 {
    text-align: left;
    font-size: 128px;
    color: $font-color;

  }
  p {
    padding-left: 10px;
    font-size: 28px;
    font-weight: 100;
    color: $font-color;
  }
  a {
    margin-left: 10px;
    opacity: 0;
    transition: visibility 0s, opacity 2s linear;

  }
  .active {
    opacity: 1;
  }

  img {
    opacity: 0;
    transition: visibility 0s, opacity 5s linear;
  }
  .img_active {
    opacity: 1;
  }

}

#page-footer {
  padding: 1% 0 1% 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  #giphy-banner {
    height: 40px;
    vertical-align: middle;
  }
}