$primary-color: #333;
$margin: 3%;
$font-weight: 300;
$font-color: #2c3e50;

::-webkit-input-placeholder { /* WebKit browsers */
  color: $font-color;
  opacity: 0.5 !important;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  color: $font-color;
}

th {
  font-weight: $font-weight;
  font-size: 30px;
  color: $font-color;
}

td {
  font-size: 25px;
  font-weight: $font-weight;
  color: $font-color;
}

p {
  font-weight: $font-weight;
  color: $font-color;
}

.profile {
  img {
    border-radius: 50%;
  }
}

.users_show {
  margin-top: $margin;
  #users_show_left {
    margin-right: $margin;
    #create_roulette {
      margin-bottom: 5%;
    }
  }
  .your_games {
    margin-top: $margin;
  }
}

.profile {
  p {
    margin-bottom: 0
  }
}

#game_invitation {
  h3 {
    font-size: 20px;
    margin: 30px 0 0 0;
  }

  th {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}
#roulette_name {
  font-size: 20px;
}

#validate_name {
  font-size: 15px;
}

#game_players {
  font-size: 20px;
}