<% if current_user %>
  <footer id="page-footer">
    <div class="container">
      <img id="giphy-banner" src="https://raw.githubusercontent.com/cirla/vim-giphy/master/powered_by_giphy.gif" alt="">
    </div>
  </footer>
<% end %>