
<div class="container">
  <nav class="navbar navbar-default navbar-static-bottom">
  <img id="giphy-banner" src="https://raw.githubusercontent.com/cirla/vim-giphy/master/powered_by_giphy.gif" alt="">
  </nav>
</div>