<% if current_user %>
<nav class="header">
    <div class="navbar-wrapper container">
      <a href="/" class="brand-logo">Banzai Roulette</a>
      <ul class="right">
          <div class="fb_logged_in">
            <li>
              <%= link_to "Sign Out", '/sign_out', method: :get %>
            </li>
          </div>
      </ul>
    </div>
</nav>
<% end %>
